DotNet/RestApiDemo/.vscode/
DotNet/RestApiDemo/bin/
DotNet/RestApiDemo/obj/
/DotNet/ArvaaLukuPeli/.vs/ArvaaLukuPeli/v16
/DotNet/ArvaaLukuPeli/ArvaaLukuPeli/bin/Debug/netcoreapp3.1
/DotNet/ArvaaLukuPeli/ArvaaLukuPeli/obj
/DotNet/CtsDemo/CtsDemoApp/.vs/CtsDemoApp/v16
/DotNet/CtsDemo/CtsDemoApp/CtsDemoApp/bin/Debug
/DotNet/CtsDemo/CtsDemoApp/CtsDemoApp/obj/Debug
/DotNet/CtsDemo/CtsDemoApp/VisualBasicKirjasto/bin/Debug
/DotNet/CtsDemo/CtsDemoApp/VisualBasicKirjasto/obj/Debug
/DotNet/HelloWorld/.vscode
/DotNet/HelloWorld/bin/Debug/net5.0
/DotNet/HelloWorld/obj
/DotNet/HelloWorld2/.vs/HelloWorld2
/DotNet/HelloWorld2/HelloWorld2/bin/Debug/netcoreapp3.1
/DotNet/HelloWorld2/HelloWorld2/obj
/DotNet/RssUutissyötteet/.vs/RssUutissyötteet/v16
/DotNet/RssUutissyötteet/RssUutissyötteet/bin/Debug/netcoreapp3.1
/DotNet/RssUutissyötteet/RssUutissyötteet/obj
/DotNet/ArvaaLukuPeli/.vs/ArvaaLukuPeli/DesignTimeBuild
/DotNet/TiedostonLukujenSumma/.vs/TiedostonLukujenSumma/v16
/DotNet/TiedostonLukujenSumma/TiedostonLukujenSumma/bin/Debug/netcoreapp3.1
/DotNet/TiedostonLukujenSumma/TiedostonLukujenSumma/obj
/DotNet/PäivämäärienKäsittely/.vs/PäivämäärienKäsittely/v16
/DotNet/PäivämäärienKäsittely/PäivämäärienKäsittely/bin/Debug/netcoreapp3.1
/DotNet/PäivämäärienKäsittely/PäivämäärienKäsittely/obj
/DotNet/RssUutissyötteet/.vs/RssUutissyötteet/DesignTimeBuild
/DotNet/TiedostonLukujenSumma/.vs/TiedostonLukujenSumma/DesignTimeBuild
/DotNet/WindowsFormsDemo/.vs/WindowsFormsDemo/v16
/DotNet/WindowsFormsDemo/WindowsFormsDemo/bin/Debug
/DotNet/WindowsFormsDemo/WindowsFormsDemo/obj/Debug
/DotNet/WinFormsTietokantaDemo/.vs/WinFormsTietokantaDemo/v16
/DotNet/WinFormsTietokantaDemo/WinFormsTietokantaDemo/bin/Debug
/DotNet/WinFormsTietokantaDemo/WinFormsTietokantaDemo/obj/Debug
/DotNet/SäätiedotDemo/.vs/SäätiedotDemo/v16
/DotNet/SäätiedotDemo/SäätiedotDemo/obj/Debug
/DotNet/SäätiedotDemo/SäätiedotDemo/bin/Debug
/DotNet/WpfDemo/.vs/WpfDemo/v16
/DotNet/WpfDemo/WpfDemo/bin/Debug
/DotNet/WpfDemo/WpfDemo/obj/Debug
/DotNet/LinqDemo/bin/Debug/net5.0
/DotNet/LinqDemo/obj
